li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

.div-filters {
  padding-left: 32px;
}

.second-filter {
  display: inline;
  margin-left: 20px;
}

.switch {
  display: inline;
  float: right;
  margin-right: 25px;
}

.task-owner {
  text-transform: capitalize;
  font-weight: 500;
  color: black;
}