<header>
  <h1>Todo List ( {{$ctrl.incompleteCount}} )</h1>

  <label class="hide-completed">
    <input type="checkbox" ng-model="$ctrl.hideCompleted"/>
    Hide Completed Tasks
  </label>

  <label class="sort-by-user">
    <input type="checkbox" ng-model="$ctrl.sortByUser"/>
    Group Task by User
  </label>

  <login-buttons></login-buttons>

  <form class="new-task" ng-submit="$ctrl.addTask($ctrl.newTask)" ng-show="$ctrl.currentUser">
    <input ng-model="$ctrl.newTask" type="text" name="text" placeholder="Type to add new tasks"/>
  </form>

</header>

<ul ng-show="!$ctrl.sortByUser">
    <li ng-repeat="task in $ctrl.tasks" ng-class="{'checked': task.checked, 'private': task.private}">
      <button class="delete" ng-click="$ctrl.removeTask(task)" ng-show="task.owner === $ctrl.currentUser._id">&times;</button>

      <input type="checkbox" ng-checked="task.checked" ng-click="$ctrl.setChecked(task)" class="toggle-checked"/>

      <span class="text">
        <strong>{{task.username}}</strong> - {{task.text}} ({{task._id}})
      </span>

      <button class="toggle-private" ng-click="$ctrl.setPrivate(task)" ng-show="task.owner === $ctrl.currentUser._id">
        {{task.private == true ? "Private" : "Public"}}
      </button>
    </li>
</ul>

<ul ng-show="$ctrl.sortByUser">
  <li ng-repeat="user in $ctrl.userList" >
    <span class="text">
      <strong>{{user.username}}</strong>
    </span>
    <ul>
      <li ng-repeat="task in $ctrl.tasks" ng-show="task.owner === user._id" ng-class="{'checked': task.checked, 'private': task.private}">
        <button class="delete" ng-click="$ctrl.removeTask(task)" ng-show="task.owner === $ctrl.currentUser._id">&times;</button>

        <input type="checkbox" ng-checked="task.checked" ng-click="$ctrl.setChecked(task)" class="toggle-checked"/>

        <span class="text">
          <strong>{{task.text}}</strong> ({{task._id}})
        </span>

        <button class="toggle-private" ng-click="$ctrl.setPrivate(task)" ng-show="task.owner === $ctrl.currentUser._id">
          {{task.private == true ? "Private" : "Public"}}
        </button>
      </li>
    </ul>
  </li>
</ul>